@charset "UTF-8";
/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Winter implementation : © joesimpson <1324811+joesimpson@users.noreply.github.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * winter.scss
 *
 * Winter stylesheet
 *
 */
:root {
  --winter_board_card_width: 465px;
  --winter_board_card_height: 930px;
}

.player_board_inner > .player-name {
  /** Add a BLACK shadow behind player name in case of bright colors like white/orange/green-sad*/
}
.player_board_inner > .player-name > a[style*="color: #ffa500"],
.player_board_inner > .player-name > a[style*="color: #ffffff"],
.player_board_inner > .player-name > a[style*="color: #72c3b1"],
.player_board_inner > .player-name > a[style*="color: #bdd002"] {
  text-shadow: 2px 0px 2px black, 0px 2px 2px black, -2px 0px 2px black, 0px -2px 2px black;
}

.winter_panel .winter_player_infos {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  position: relative;
}
.winter_panel .winter_player_infos hr {
  width: 100%;
}
.winter_panel .winter_player_infos hr,
.winter_panel .winter_player_infos .winter_player_resource_line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  line-height: 3em;
}
.winter_panel .winter_player_infos .winter_player_resource {
  position: relative;
  text-align: center;
}
.winter_panel .winter_player_infos .winter_player_resource .winter_reserve {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.winter_panel .winter_player_infos .winter_player_resource .winter_reserve.tooltipable:hover {
  outline: 2px solid green;
  z-index: 2;
}
.winter_panel .winter_player_infos .winter_player_resource .winter_resource_tokens {
  font-size: 15px;
  font-weight: bold;
}
.winter_panel .winter_icon_container {
  margin: 0 0.5em;
}

.winter_card_back,
.winter_card {
  width: 102px;
  height: 158px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
  border-radius: 5%;
  background-size: 400% 300%;
  background-image: url("img/cards.jpg");
  position: relative;
}
.winter_card_back[data-type="1"],
.winter_card[data-type="1"] {
  background-position-x: 0%;
  background-position-y: 0%;
}
.winter_card_back[data-type="2"],
.winter_card[data-type="2"] {
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}
.winter_card_back[data-type="3"],
.winter_card[data-type="3"] {
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}
.winter_card_back[data-type="4"],
.winter_card[data-type="4"] {
  background-position-x: 100%;
  background-position-y: 0%;
}
.winter_card_back[data-type="5"],
.winter_card[data-type="5"] {
  background-position-x: 0%;
  background-position-y: 50%;
}
.winter_card_back[data-type="6"],
.winter_card[data-type="6"] {
  background-position-x: 33.3333333333%;
  background-position-y: 50%;
}
.winter_card_back[data-type="7"],
.winter_card[data-type="7"] {
  background-position-x: 66.6666666667%;
  background-position-y: 50%;
}
.winter_card_back[data-type="8"],
.winter_card[data-type="8"] {
  background-position-x: 100%;
  background-position-y: 50%;
}
.winter_card_back.winter_card_back,
.winter_card.winter_card_back {
  background-position-x: 100%;
  background-position-y: 66.66%;
}
.winter_card_back.selectable,
.winter_card.selectable {
  box-shadow: 0px 0px 6px 6px #00ffff;
  cursor: pointer;
}
.winter_card_back.selectable:hover,
.winter_card.selectable:hover {
  transform: scale(1.1);
}
.winter_card_back.selected, .winter_card_back.selected:hover,
.winter_card.selected,
.winter_card.selected:hover {
  box-shadow: 0px 0px 6px 6px #d3ff00, 0px 0px 6px 6px #dfff00, 0px 0px 6px 6px #fffb00;
}

/** Scrollable area **/
#winter_map_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

#winter_map_scrollable, #winter_map_scrollable_oversurface {
  position: absolute;
}

#winter_map_surface {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: move;
}

/** This is some extra stuff to extend the container **/
#winter_map_footer {
  text-align: center;
}

/** Move arrows **/
.movetop, .moveleft, .moveright, .movedown {
  display: block;
  position: absolute;
  background-image: url("../../../img/common/arrows.png");
  width: 32px;
  height: 32px;
}

.movetop {
  top: 0px;
  left: 50%;
  background-position: 0px 32px;
}

.moveleft {
  top: 50%;
  left: 0px;
  background-position: 32px 0px;
}

.moveright {
  top: 50%;
  right: 0px;
  background-position: 0px 0px;
}

.movedown {
  bottom: 0px;
  left: 50%;
  background-position: 32px 32px;
}

/**
 * Player panel settings
 * AUTHOR : © Tisaac
 */
#player_board_config {
  position: relative;
  -o-border-image: none;
     border-image: none;
  order: 0;
  grid-row-start: 1;
  grid-column: 1;
}

#player_config .player_config_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 0px;
  border-bottom: 1px solid #80502e;
}
#player_config .player_config_row:last-child {
  border-bottom: none;
}
#player_config #turn_counter_wrapper {
  text-align: center;
  margin: -5px -3px 0px;
  background: rgba(227, 188, 146, 0.5019607843);
  padding: 8px 0px 4px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5411764706);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Bernard MT Condensed";
  color: black;
  display: block;
}
#player_config #pin-panel-switch .checkbox,
#player_config #help-mode-switch .checkbox {
  display: none;
}
#player_config #pin-panel-switch .label,
#player_config #help-mode-switch .label {
  background-color: #2c3037;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 26px;
  width: 50px;
}
#player_config #pin-panel-switch .label .ball,
#player_config #help-mode-switch .label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear, color 0.7s linear;
}
#player_config #pin-panel-switch .checkbox:checked + .label,
#player_config #help-mode-switch .checkbox:checked + .label {
  background-color: #2196f3;
}
#player_config #pin-panel-switch .checkbox:checked + .label .ball,
#player_config #help-mode-switch .checkbox:checked + .label .ball {
  transform: translateX(24px);
}
#player_config #pin-panel-switch svg,
#player_config #help-mode-switch svg {
  width: 27px;
}
#player_config #show-settings {
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#player_config #show-settings:hover {
  color: grey;
}
#player_config #show-settings svg {
  width: auto;
  height: 40px;
}
#player_config #show-settings .fa-primary {
  transform-origin: 216px 255px;
  transition: transform 1s;
}
#player_config #show-settings:hover .fa-primary {
  transform: rotate(180deg);
}

body.notouch-device #help-mode-switch:hover {
  outline: 2px solid green;
  cursor: help;
}

#popin_showSettings_underlay {
  background-color: black !important;
  opacity: 0.6;
}

#popin_showSettings {
  background-color: #ebd5bd;
  border-radius: 8px;
  box-shadow: 0 3px 8px black;
  position: relative;
}
#popin_showSettings .winter_popin_closeicon {
  background-color: #a47a77;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -18px;
  right: -18px;
  font-size: 90%;
  color: white !important;
  border: 1px solid #dfbda8;
}
#popin_showSettings .winter_popin_closeicon:hover {
  text-decoration: none;
  color: #ccc !important;
  transform: scale(1.1);
}
#popin_showSettings .winter_popin_closeicon i {
  margin-top: -2px;
}
#popin_showSettings h2 {
  font-family: "Oranienbaum";
  text-align: center;
  font-size: 23px;
  margin: 0px;
  background: #b79570;
  border-radius: 8px 8px 0px 0px;
  padding: 7px 0px;
  border-bottom: 1px solid #734f2a;
}

/*
   * Controls in the top bar
   */
#settings-controls-container {
  position: relative;
  text-align: center;
  width: min(550px, 90vw);
}
#settings-controls-container #settings-controls-header {
  display: flex;
  align-items: stretch;
}
#settings-controls-container #settings-controls-header div {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 8px;
  background: #cca172;
  flex-grow: 1;
  cursor: pointer;
}
#settings-controls-container #settings-controls-header div:last-child {
  border-right: none;
}
#settings-controls-container #settings-controls-header div.open {
  background: none;
  border-bottom: none;
}
#settings-controls-container #settings-controls-wrapper .settings-section {
  display: none;
}
#settings-controls-container #settings-controls-wrapper .settings-section.open {
  display: block;
}
#settings-controls-container .row-data {
  border: none;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}
#settings-controls-container .row-data .row-label {
  width: 100%;
  float: none;
  color: black;
  padding-bottom: 0px;
  text-overflow: initial;
  white-space: normal;
  padding: 2px 4px 0px;
}
#settings-controls-container .row-data .row-value {
  width: 85%;
  margin: 0;
}
#settings-controls-container .row-data .row-value.slider {
  width: calc(85% - 40px);
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: content-box;
}
#settings-controls-container .row-data.row-data-switch .row-value {
  padding: 6px 0px;
}
#settings-controls-container .row-data label.switch {
  display: block;
}
#settings-controls-container .row-data label.switch input {
  display: none;
}
#settings-controls-container .row-data label.switch .slider {
  margin: auto;
  height: 27px;
  width: 55px;
  position: relative;
  background-color: #a6a6a6;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 34px;
}
#settings-controls-container .row-data label.switch .slider::before {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: 4px;
  height: 19px;
  left: 4px;
  width: 19px;
  border-radius: 50%;
  transition: 0.4s;
}
#settings-controls-container .row-data label.switch input:checked + .slider {
  background-color: #2196f3;
}
#settings-controls-container .row-data label.switch input:checked + .slider::before {
  left: 30px;
}

/*! nouislider - 14.6.0 - 6/27/2020 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  touch-action: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3fb8af;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-active {
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #e8e7e6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

/**
    PREFIX FOR THIS GAME PROJECT : "winter" because game name is short enough :)
*/
#winter_main_zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row;
  -moz-column-gap: 5px;
       column-gap: 5px;
  opacity: 1;
}

.winter_nodisplay {
  display: none !important;
}

.winter_hidden {
  visibility: hidden !important;
}

.winter_h1 {
  font-size: 28px;
  font-weight: 400;
}

.winter_h2 {
  font-size: 18px;
  font-weight: 700;
}

.winter_h3 {
  font-size: 16px;
  font-weight: 700;
}

.phantom {
  visibility: hidden;
}

#pagemaintitletext .winter_card,
#gameaction_status .winter_card {
  position: absolute;
}

body[data-winter_undo_style="1"] #btnIconUndoLastStep,
body[data-winter_undo_style="1"] #btnIconRestartTurn {
  display: none !important;
}

body[data-winter_undo_style="2"] #btnTextUndoLastStep,
body[data-winter_undo_style="2"] #btnTextRestartTurn {
  display: none !important;
}

body.lockedInterface #customActions,
body.lockedInterface #restartAction {
  pointer-events: none;
}

#ebd-body.help-mode .tooltipable {
  cursor: help;
}
#ebd-body.help-mode #help-mode-switch svg {
  color: #1b69ff;
}

.help-marker-background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.help-marker {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  z-index: 900;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}
.help-marker svg {
  width: 20px;
  height: 20px;
}

#ebd-body:not(.help-mode) .help-marker {
  opacity: 0;
  pointer-events: none;
}

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

.playername_wrapper_ffa500 .playername, .playername_wrapper_ffa500.playername,
.playername_wrapper_bdd002 .playername,
.playername_wrapper_bdd002.playername,
.playername_wrapper_72c3b1 .playername,
.playername_wrapper_72c3b1.playername,
.playername_wrapper_ffffff .playername,
.playername_wrapper_ffffff.playername {
  text-shadow: 2px 0px 2px black, 0px 2px 2px black, -2px 0px 2px black, 0px -2px 2px black;
}

#pagesection_howtoplay li, .midSizeDialog li {
  margin-left: 2em;
}

#pagesection_howtoplay ol li {
  list-style: decimal;
} /* BEFORE ul in case there are ul under ol */
#pagesection_howtoplay ul li, .midSizeDialog ul li {
  list-style: disc;
}

/*** FIX BGA 3D mode clicks : **/
.mode_3d #game_play_area_wrap {
  pointer-events: none;
}

#winter_game_container {
  pointer-events: all;
}