

$card_width: var(--winter_board_card_width);
$card_height: var(--winter_board_card_height);

.winter_card_back,
.winter_card_spot,
.winter_card {
    width: $card_width;
    height: $card_height;
    border: var(--winter_board_card_border) solid #959595;
    //box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    border-radius: 5%;//% to avoid a different radius whent card is resized 

    .help-marker{
        top: 10%;
        left: 10%;
    }

    //sprite positions
    background-size: 500% 200%;
    background-image: url("img/cards.jpg");
    @for $i from 0 through 7 {
        &[data-type="#{$i + 1}"] {
            background-position-x: math.div(($i % 5) * 100%, 4);//5 columns
            background-position-y: math.div(math.div($i - ($i % 5), 5) * 100%, 1);//5 columns , 2 rows
        }
    }
    &[data-dir="2"]{//CARD_DIRECTION_DOWN -> card is rotated on the table
        transform: rotateZ(180deg);
            
        .help-marker{
            transform: rotateZ(180deg);
            top: 75%;
            left: 70%;
        }
        .winter_card_wrapper{
            transform: rotateZ(180deg);
        }
    }
    

    &.winter_card_back{
        background-position-x: 100%;
        background-position-y: 100%;
                
        .winter_deck_size{
            user-select: none;
            position: absolute;
            bottom: 15%;
            text-align: center;
            width: 100%;
            color: black;
            font-size: 25px;
        }
    }

    .winter_card_wrapper{
        user-select: none;
        position: absolute;
        width: 100%;
        height: 100%;
        .winter_card_location_label{
            position: absolute;
            top: 45%;
            text-align: center;
            width: 100%;
            visibility: hidden;
        }
    }

    position: relative; 
    &.selectable {
        z-index: 2;
        box-shadow: 0px 0px 0px 2px green;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            &[data-dir="2"]{//CARD_DIRECTION_DOWN -> card is rotated on the table
                transform: rotateZ(180deg) scale(1.1);
            }
        }
        &[data-lake="1"]{
            box-shadow: 0px 0px 0px 2px green;
        }
        
        &[data-lake="2"]{
            box-shadow: 0px 0px 0px 2px black;
        }
        &[data-lake="3"]{
            box-shadow: 0px 0px 0px 2px #40f;
        }
        &[data-lake="4"]{
            box-shadow: 0px 0px 0px 2px rgb(213, 2, 255);
        }
    }

    &.selected,
    &.selected:hover {
        z-index: 2;
        box-shadow: 0px 0px 0px 6px #d3ff00, 0px 0px 0px 6px #dfff00, 0px 0px 0px 6px #fffb00;
    }

    &.lastPlayed{
        box-shadow: 0px 0px 0px 3px red;
    }
 
}
 
.winter_card_tooltip{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    hr{
        width: 100%;
    }
    .winter_card{
        width: calc($card_width * 1.5);
        height: calc($card_height * 1.5);
    }
}

.winter_card_spot{
    opacity: 0.5;
    &.selectable {
        cursor: pointer;
        &:hover {
            //transform: scale(1.1);
            z-index: 3;
            opacity: 1;
            
            .winter_card_spot_click_spot{
                display: none;
            }
        }
    }

        
    &[data-dir="1"]:not([data-dirs="undefined"]):not([data-dirs*="1"]){
        visibility: hidden;
    }
    &[data-dir="2"]:not([data-dirs="undefined"]):not([data-dirs*="2"]){//CARD_DIRECTION_DOWN
        visibility: hidden;
    }

    .winter_card_spot_background{
        width: 100%;
        height: 100%;
    }
    .winter_card_spot_click_spot{
        position: absolute;
        width: 45%;
        height: 45%;
        top: 10%;
        left: 5%;
    }
    &[data-dir="2"]{//CARD_DIRECTION_DOWN -> card is rotated on the table
        .winter_card_spot_click_spot{
            top: 67%;
            left: 50%;
        }
    }
    &.selectable{
        box-shadow: unset;
        .winter_card_spot_background{
            outline: 5px dashed green;
        }
        .winter_card_spot_click_spot{
            background-image: url("img/spot.gif");
            background-size: 100%;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            z-index: 2;
        }
    }
}

#winter_map_container{
    .winter_card_spot,
    .winter_card{
        //pointer-events: none;// Don't do it if we want tooltips
        position: absolute;

        @for $i from -100 through 100 {//18 cards MAX, where each offset is a half card
            &[data-row="#{$i}"] {
                top: calc(($i) /2 * $card_height);
            }
            &[data-col="#{$i}"] {
                left: calc(($i) /2 * $card_width);
            }
        }
    }
    .winter_card_spot {
        //We want to be able to select every spot, whatever their order in the DOM, so let's order them row by row
        // -> for now, we have a php ordered list
        //$mapBaseIndex : 3;
        //@for $i from -100 through 100 {
        //    &[data-row="#{$i}"] {
        //        z-index: calc($mapBaseIndex + $i + 100);
        //    }
        //}
    }
}


#winter_cards_deck_container{
    justify-content: center;
    align-items: center;
    display: flex;
    
    &.selectable{
        cursor: pointer;
        outline: 5px solid yellow;
        border-radius: 3px;

        &:hover{
            transform: scale(1.1);
            z-index: 2;
        }
        &.selected{
            outline-color: rgb(0, 255, 64);
        }
    }
    //HERE FOR ANIMATION 
    .winter_card{
        position: absolute;
        top: 0px;
    }
}

body[data-winter_display_coord='0']{//PREF_UI_DISPLAY_COORDINATES_DISABLED
    .winter_card_location_label {
        visibility: hidden;
    }
}
body[data-winter_display_coord='2']{//PREF_UI_DISPLAY_COORDINATES_ENABLED
    #winter_map_container{//Display on board only
        .winter_card_location_label {
            visibility: visible;
        }
    }
}

//#winter_cards_draw{
//    .winter_card{
//        .winter_card_location_label {
//            //Should not be displayed here with row and col null
//            visibility: hidden;
//        }
//    }
//}