

$card_width: 102px;
$card_height: 158px;

.winter_card_back,
.winter_card {
    width: $card_width;
    height: $card_height;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    border-radius: 5%;//% to avoid a different radius whent card is resized 

    //sprite positions
    background-size: 400% 300%;
    background-image: url("img/cards.jpg");
    @for $i from 0 through 7 {
        &[data-type="#{$i + 1}"] {
            background-position-x: math.div(($i % 4) * 100%, 3);//4 columns
            background-position-y: math.div(math.div($i - ($i % 4), 4) * 100%, 2);//4 columns , 3 rows
        }
    }

    &.winter_card_back{
        background-position-x: 100%;
        background-position-y: 66.66%;
    }

    position: relative; 
    &.selectable {
        box-shadow: 0px 0px 6px 6px #00ffff;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }

    &.selected,
    &.selected:hover {
        box-shadow: 0px 0px 6px 6px #d3ff00, 0px 0px 6px 6px #dfff00, 0px 0px 6px 6px #fffb00;
    }
 
}
 


#winter_map_container{
    .winter_card{
        position: absolute;

        @for $i from -20 through 20 {//18 cards MAX
            &[data-row="#{$i}"] {
                top: ($i) * $card_height;
            }
            &[data-col="#{$i}"] {
                left: ($i) * $card_width;
            }
        }
    }
}