
.winter_icon_container {
    display: inline-block;
    vertical-align: middle;

    .winter_icon{
        width: 2em;
        height: 2em;

        &.winter_icon_flake_color-1,
        &.winter_icon_flake_color-2
        {
            $icon_width : 40px;

            border-radius: 10px;
            border-radius: 100%;
            background-image: url("img/icons.png");
            $icons_img_width: 900px;
            $icons_img_height: 450px;
            $icon_img_width: 450px;
            $icon_img_height: 450px;
            $icon_img_ratio: math.div($icon_width, $icon_img_width );

            background-size: 
                math.percentage(math.div($icons_img_width, $icon_img_width )) 
                math.percentage(math.div($icons_img_height,$icon_img_height )) 
                !important;
            background-repeat: repeat !important;
            width: calc( $icon_img_ratio * $icon_img_width);
            height: calc( $icon_img_ratio * $icon_img_height);

            &.winter_icon_flake_color-2 {//TOKEN_COUNTER_BLUE_DARK
                background-position-y: calc( $icon_img_ratio * -1 * 0 * $icon_img_height);
                background-position-x: calc( $icon_img_ratio * -1 * 0 * $icon_img_width);
            } 
            &.winter_icon_flake_color-1 {//TOKEN_COUNTER_BLUE_LIGHT
                background-position-y: calc( $icon_img_ratio * -1 * 0 * $icon_img_height);
                background-position-x: calc( $icon_img_ratio * -1 * 1 * $icon_img_width);
            }
        }
    }
}


