
$token_counter_width : 40px;

.winter_token_spot,
.winter_token_counter{
    border-radius: 10px;
    border-radius: 100%;
    background-image: url("img/icons.png");
    $icons_img_width: 228px;
    $icons_img_height: 152px;
    $icon_img_width: 76px;
    $icon_img_height: 76px;
    $icon_img_ratio: math.div($token_counter_width, $icon_img_width );

    background-size: 
        math.percentage(math.div($icons_img_width, $icon_img_width )) 
        math.percentage(math.div($icons_img_height,$icon_img_height )) 
        !important;
    background-repeat: repeat !important;
    width: calc( $icon_img_ratio * $icon_img_width);
    height: calc( $icon_img_ratio * $icon_img_height);
    
    &[data-type="2"] {//TOKEN_COUNTER_BLUE_DARK
        background-position-y: calc( $icon_img_ratio * -1 * 0 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * -1 * 0 * $icon_img_width);
    } 
    &[data-type="1"]{//TOKEN_COUNTER_BLUE_LIGHT
        background-position-y: calc( $icon_img_ratio * -1 * 0 * $icon_img_height);
        background-position-x: calc( $icon_img_ratio * -1 * 1 * $icon_img_width);
    }

    
    &.selectable {
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.winter_token_spot{
    opacity: 0.5;
    &.selectable {
        //border: 5px solid green;
        box-shadow: 0px 0px 10px 10px green;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}

#winter_map_container{
    .winter_token_spot,
    .winter_token_counter{
        //pointer-events: none;
        position: absolute;
        
        @for $i from -100 through 100 {//18 cards MAX, where each offset is a half card
            //Base offset from winter_card, but the token will be placed on bottom right corner of a snowflakes square, thus we add -token_counter_width/2
            &[data-row="#{$i}"] {
                top: calc(($i) /2 * var(--winter_board_card_height) - $token_counter_width/2);
            }
            &[data-col="#{$i}"] {
                left: calc(($i) /2 * var(--winter_board_card_width) - $token_counter_width/2);
            }
        }
    }
}